@import "dark.scss";
@import "light.scss";


/* Simulate terminal font */

:root {
  font-family: monospace !important;
  font-size: 16px !important;
}


/* Headers */

h1::before {
	content: '# ';
}

h2::before {
	content: '## ';
}

h3::before {
	content: '### ';
}

h4::before {
	content: '#### ';
}

h5::before {
	content: '##### ';
}

h6::before {
	content: '###### ';
}


/* Lists */

ol {
  list-style: decimal !important;
}

ul {
  list-style: '- ' !important;
}


/* Scrollbars */

/* width */
::-webkit-scrollbar {
  width: 1ch;
}
