/* Dark color scheme */

@mixin dark-theme {
  :root {
    color: white;
    background-color: black;
  }

  ::-webkit-scrollbar-thumb {
    background: white;
  }

  input {
    border-bottom-color: white;
  }
}


/* Terminals configuration used dark theme by default, so we use it if there's
 * no preference
 */

@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
  @include dark-theme;
}

html[data-prefers-color-scheme='dark'],
html[data-prefers-color-scheme='no-preference'] {
  @include dark-theme;
}
