@import "dark.scss";
@import "light.scss";


/* Simulate terminal grid */

html * {
  font-family: UnifontMedium, ui-monospace, monospace !important;
  font-kerning: none !important;
  font-size: 16px !important;
  /* font-style: normal !important;
  font-weight: normal !important; */
  letter-spacing: 0px !important;
  line-height: 1 !important;
  margin: 0px;
}


/* Headers */

h1::before {
	content: '# ';
}

h2::before {
	content: '## ';
}

h3::before {
	content: '### ';
}

h4::before {
	content: '#### ';
}

h5::before {
	content: '##### ';
}

h6::before {
	content: '###### ';
}


/* Lists */

ol {
  list-style: decimal;
}

ul {
  list-style: '- ';
}


/* Scrollbars */

/* width */
::-webkit-scrollbar {
  width: 1ch;
}
